body {
    background-color: black;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 100% 0 0 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    transition: .5s;
    pointer-events: none;
}

.card:hover .layer {
    inset: 0;
    cursor: pointer;
}

.card {
    cursor: pointer;
}
